# Title

## Introduction

Text for introduction

### Import necessary modules

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import netCDF4 as nc4
import os
import requests
import os
from subscriber import podaac_data_downloader as pdd
from subscriber import podaac_access as pa
import argparse
import datetime as dt
import pandas as pd
import statsmodels.api as sm
from scipy.interpolate import interp1d
import datetime as dt

### Import kelp canopy data for all 6 sites

In [8]:
#Would I put my own file path or a note that says "insert file path?

#CSV of kelp canopy in Norcal- Humbolt coast
filename1 = 'C:\\Users\\maddi\\Desktop\\MS263\\MS263_FinalProject\\data\\Kelp_area\\Humboldt_kelp.csv'
Humboldt_df = pd.read_csv(filename1, index_col=False)

#CSV of kelp canopy in Norcal - Sonoma coast
filename2 = 'C:\\Users\\maddi\\Desktop\\MS263\\MS263_FinalProject\\data\\Kelp_area\\Sonoma_kelp.csv'
Sonoma_df = pd.read_csv(filename2, index_col=False)

#CSV of kelp canopy in Southern Oregon
filename3 = 'C:\\Users\\maddi\\Desktop\\MS263\\MS263_FinalProject\\data\\Kelp_area\\So_Oregon_kelp.csv'
So_Oregon_df = pd.read_csv(filename2, index_col=False)

#CSV of kelp canopy in Northern Oregon
filename4 = 'C:\\Users\\maddi\\Desktop\\MS263\\MS263_FinalProject\\data\\Kelp_area\\No_Oregon_kelp.csv'
No_Oregon_df = pd.read_csv(filename2, index_col=False)

#CSV of kelp canopy on Washington Coast
filename5 = 'C:\\Users\\maddi\\Desktop\\MS263\\MS263_FinalProject\\data\\Kelp_area\\No_Washington_Coast_kelp.csv'
Coast_WA_df = pd.read_csv(filename2, index_col=False)

#CSV of kelp canopy on Washington Strait
filename6 = 'C:\\Users\\maddi\\Desktop\\MS263\\MS263_FinalProject\\data\\Kelp_area\\No_Washington_Strait_kelp.csv'
Strait_WA_df = pd.read_csv(filename2, index_col=False)

In [9]:
Strait_WA_df

,year,quarter,kelp_area_m2,count_cells_kelp,count_cells_no_clouds,count_cells_historic_footprint
0,1984,1,0,0,0,18973
1,1984,2,5570,44,18382,18973
2,1984,3,0,0,0,18973
3,1984,4,82636,385,18918,18973
4,1985,1,0,0,0,18973
...,...,...,...,...,...,...
155,2022,4,30690,322,18973,18973
156,2023,1,415,11,18968,18973
157,2023,2,655,10,18967,18973
158,2023,3,30669,207,18971,18973
159,2023,4,12680,154,18973,18973

### Subset data to only include quarter three data from 2003-present

In [10]:
WA_coast_Q3 = Coast_WA_df[(Coast_WA_df['quarter'] == 3) & (Coast_WA_df['year']>2002)]
WA_strait_Q3 = Strait_WA_df[(Strait_WA_df['quarter'] == 3) & (Strait_WA_df['year']>2002)]
OR_N_Q3 = No_Oregon_df[(No_Oregon_df['quarter'] == 3) & (No_Oregon_df['year']>2002)]
OR_S_Q3 = So_Oregon_df[(So_Oregon_df['quarter'] == 3) & (So_Oregon_df['year']>2002)]
Humboldt_Q3 = Humboldt_df[(Humboldt_df['quarter'] == 3) & (Humboldt_df['year']>2002)]
Sonoma_Q3 = Sonoma_df[(Sonoma_df['quarter'] == 3) & (Sonoma_df['year']>2002)]

In [11]:
WA_coast_Q3

,year,quarter,kelp_area_m2,count_cells_kelp,count_cells_no_clouds,count_cells_historic_footprint
78,2003,3,233976,2220,18916,18973
82,2004,3,302923,3207,18886,18973
86,2005,3,181327,1608,18714,18973
90,2006,3,84924,795,18378,18973
94,2007,3,850790,7217,18964,18973
98,2008,3,2399184,12694,18903,18973
102,2009,3,1281143,9686,18930,18973
106,2010,3,693111,5260,18882,18973
110,2011,3,538965,3639,18460,18973
114,2012,3,2321117,9007,16050,18973
118,2013,3,1535446,7694,18973,18973
122,2014,3,294711,1882,18972,18973
126,2015,3,40814,296,18973,18973
130,2016,3,65930,489,18973,18973
134,2017,3,36030,291,18973,18973
138,2018,3,30821,242,18973,18973
142,2019,3,5000,41,18973,18973
146,2020,3,25936,183,18426,18973
150,2021,3,317308,2306,18965,18973
154,2022,3,37298,254,18973,18973
158,2023,3,30669,207,18971,18973